[Desktop Entry]
Name=Thermal Monitor
Name[sr]=Праћење температуре
Name[sr@ijekavian]=Праћење температуре
Name[sr@ijekavianlatin]=Praćenje temperature
Name[sr@latin]=Praćenje temperature
Comment=Plasmoid for monitoring CPU, GPU and HDD temperature.
Comment[sr]=Плазмоид за праћење температуре ЦПУ-а, ГПУ-а и тврдог диска. 
Comment[sr@ijekavian]=Плазмоид за праћење температуре ЦПУ-а, ГПУ-а и тврдог диска. 
Comment[sr@ijekavianlatin]=Plazmoid za praćenje temperature CPU-a, GPU-a i tvrdog diska.
Comment[sr@latin]=Plazmoid za praćenje temperature CPU-a, GPU-a i tvrdog diska.
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kotelnik
X-KDE-PluginInfo-Email=clearmartin@seznam.cz
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=org.kde.thermalMonitor
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/kotelnik/plasma-applet-thermal-monitor
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=System Information
Icon=/usr/share/plasma/plasmoids/org.kde.thermalMonitor/contents/images/thermal-monitor.svg
#prefix for Icon is: /usr/share/icons/breeze/actions/toolbar/
#copy this file into ~/.local/share/kservices5
